
:root {
    font-family: 'Alata', sans-serif;
    font-size: 16px;
    --bgColor1: #15202b;
    --bgColor2: #192734;
    --bgColor3: #22303c;
    --bgColorPopUp: #273746;
    --textColor: #eaebec;
    --accent: #2abd67;
    --accentDark: #1f8d4d;
  }
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(25, 39, 52);
    color: white;
    margin: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    height: 85px;
    background-color: #22303c;
    border-bottom: 3px solid #1f8d4d;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.menu {
    transform: scale(1.4);
}
.toggle {
    background-color: darkcyan;
    display: flex;
    cursor: pointer;
    padding: 5px 10px;
    padding-top: 0;
    border-radius: 4px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
.title {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}
.todo {
    color: #2abd67;
    font-weight: 900;
}
.theme {
    margin-right: 0px;
    user-select: none;
  }
.checkbox {
    opacity: 0;
    position: absolute;
  }
.label {
    background-color: var(--bgColor1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 50px;
    height: 40px;
    width: 80px;
    box-sizing: border-box;
    position: relative;
    transform: scale(0.8);
    transition: background-color 0.2s ease-in;
    border: solid 3px var(--accentDark);
    cursor: pointer;
  }
.sun {
    transform: scale(1.3);
    width: 24.7px;
}
.material-icons-round {
    font-family: 'Material Icons Round';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
.ball {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 3px;
    background-color: var(--accentDark);
    border: solid 4px var(--bgColor1);
    border-radius: 50%;
    transition: transform 0.2s linear;
  }





.flex-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
}
.sidebar{
    width: 450px;
    background-color: #15202b;
}
.main {
    width: 100%;
    background-color: #192734;
}